.flex {
    display: flex;
    /* flex-direction: column; */
}

.book-list {
    flex-wrap: wrap;
    /* flex-basis: 200px; */
}

.book-card img {
    width: 250px;
}

.book-card {
    background-color: lightgoldenrodyellow;
    width: auto;
    /* width: 300px; */
    max-width: 250px;
    height: auto;
    margin: 5px;
    border: 1px solid green;
}

.red-bg {
    color: red;
}

.green-bg {
    color: green;
}

.show {
    display: inline-block;
}

footer {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    /* font-weight: bold; */
}

.book-add {
    flex-direction: column;
    margin: 10px;
}

.book-add table {
    /* table-layout: auto; */
    /* width: 400px; */
    width: fit-content;
}