.flex {
    display: flex;
    /* flex-direction: column; */
}

.book-list {
    flex-wrap: wrap;
    /* flex-basis: 200px; */
}

.book-card {
    background-color: lightgoldenrodyellow;
    /* width: auto; */
    width: 200px;
    margin: 5px;
    border: 1px solid green;
}

.red-bg {
    background-color: red;
}

.green-bg {
    background-color: green;
}